[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sendblue = "*"
openai = "=1.0.0rc3"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
requests = "*"
python-dotenv = "*"  # Corrected package name and format

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
